festival-spanish-voices_1.0.0.orig.tar.gz
festvox_nitech_us_slt_arctic_hts.tar.bz2
festvox_nitech_us_rms_arctic_hts.tar.bz2
festvox_nitech_us_jmk_arctic_hts.tar.bz2
festvox_nitech_us_clb_arctic_hts.tar.bz2
festvox_nitech_us_bdl_arctic_hts.tar.bz2
festvox_nitech_us_awb_arctic_hts.tar.bz2
festvox_kedlpc16k.tar.gz
festvox_kallpc16k.tar.gz
festlex_CMU.tar.gz
festlex_POSLEX.tar.gz
festdoc-1.4.2.tar.gz
speech_tools-1.2.96-beta.tar.gz
festival-1.96-beta.tar.gz
